nodeRED_EV3
[{"id":"7a428fe5.6ee99","type":"ibmiot out","z":"5d3f91dd.4afc2","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"LegoEV3","deviceType":"Lego","eventCommandType":"get_data","format":"json","data":"1","qos":0,"name":"IBM IoT","service":"registered","x":786.5,"y":681,"wires":[]},{"id":"5ef9b431.6bc98c","type":"inject","z":"5d3f91dd.4afc2","name":"SendData","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":95.5,"y":481.25,"wires":[["e6b0b1bf.8053b8"]]},{"id":"e6b0b1bf.8053b8","type":"function","z":"5d3f91dd.4afc2","name":"ArmControl","func":"msg = {\n  payload: JSON.stringify(\n    {\n      robotControl: {\n          speed: 1000,\n          time: 2000\n      },\n      voice: 'I will cooldown this area.'\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":355.5,"y":480.75,"wires":[["7a428fe5.6ee99","d107cbef.6c76f"]]},{"id":"5542c841.6fde68","type":"ibmiot in","z":"5d3f91dd.4afc2","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"FF-LEGO","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT Firefly","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":111.5,"y":302.25,"wires":[["63acd13c.7b434"]]},{"id":"f953155e.b46","type":"debug","z":"5d3f91dd.4afc2","name":"","active":false,"console":"false","complete":"false","x":466.5,"y":313.5,"wires":[]},{"id":"d91dcc10.9e313","type":"function","z":"5d3f91dd.4afc2","name":"sendFireflyDataToRobot","func":"fireflyData = msg.payload.d;\nlux = fireflyData.l;\ntemp = fireflyData.t;\n\n// Create MQTT message in JSON\n//msg = { \"topic\": \"iot-2/type/Lego/id/LegoEV3/evt/mindstorm-status/fmt/json\", \"payload\": { \"d\": \"123\" }, \"deviceId\": \"LegoEV3\", \"deviceType\": \"Lego\", \"eventType\": \"mindstorm-status\", \"format\": \"json\", \"_msgid\": \"935f1f1f.6ca0e\" }\n\nif (lux >= 50) {\n    text = \"It is very very bright!\"\n} else {\n    text = \"It is dark. I am scared. Please turn on the light.\"\n}\n\nif (temp >= 26) {\n    speed = (Math.round(temp) - 25 ) * 150;\n    msg = {\n        payload: JSON.stringify(\n        {\n          robotControl: {\n              speed: speed,\n              time: 3000\n          },\n          voice: 'I will cooldown this area.'\n        }\n      )\n    };\n} else {\n   msg = {\n      payload: JSON.stringify(\n        {\n          firefly: fireflyData,\n          voice: text\n        }\n      )\n    }; \n}\n\n\n\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":408,"y":403,"wires":[["7a428fe5.6ee99","d107cbef.6c76f"]]},{"id":"2bbfd4d6.7c7024","type":"function","z":"5d3f91dd.4afc2","name":"MoveRobot Forward","func":"msg = {\n  payload: JSON.stringify(\n    {\n      moveRobot: {\n          speed: 250,\n          time: 2500,\n          direction: 'fwd'\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":373,"y":570,"wires":[["7a428fe5.6ee99","d107cbef.6c76f"]]},{"id":"57dfc773.00c14","type":"inject","z":"5d3f91dd.4afc2","name":"SendData","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":102,"y":562,"wires":[["2bbfd4d6.7c7024"]]},{"id":"9bedb33b.6d9e08","type":"function","z":"5d3f91dd.4afc2","name":"MoveRobot Right","func":"msg = {\n  payload: JSON.stringify(\n    {\n      moveRobot: {\n          speed: 250,\n          time: 2500,\n          direction: 'right'\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":367,"y":661,"wires":[["7a428fe5.6ee99","d107cbef.6c76f"]]},{"id":"64814220.e33fc4","type":"function","z":"5d3f91dd.4afc2","name":"MoveRobot Left","func":"msg = {\n  payload: JSON.stringify(\n    {\n      moveRobot: {\n          speed: 250,\n          time: 2500,\n          direction: 'left'\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":355,"y":614,"wires":[["7a428fe5.6ee99","d107cbef.6c76f"]]},{"id":"293d94f4.b8b204","type":"function","z":"5d3f91dd.4afc2","name":"MoveRobot Back","func":"msg = {\n  payload: JSON.stringify(\n    {\n      moveRobot: {\n          speed: 250,\n          time: 2500,\n          direction: 'back'\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":365,"y":706,"wires":[["7a428fe5.6ee99","d107cbef.6c76f"]]},{"id":"636c2982.e31788","type":"inject","z":"5d3f91dd.4afc2","name":"SendData","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":102,"y":647,"wires":[["9bedb33b.6d9e08"]]},{"id":"abc3ea8d.ac4818","type":"inject","z":"5d3f91dd.4afc2","name":"SendData","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":104,"y":695,"wires":[["293d94f4.b8b204"]]},{"id":"c13bed9.6c8e89","type":"inject","z":"5d3f91dd.4afc2","name":"SendData","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":101,"y":604,"wires":[["64814220.e33fc4"]]},{"id":"d107cbef.6c76f","type":"debug","z":"5d3f91dd.4afc2","name":"","active":true,"console":"false","complete":"false","x":798,"y":459,"wires":[]},{"id":"63acd13c.7b434","type":"delay","z":"5d3f91dd.4afc2","name":"Delay Firefly","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":189.5,"y":396.75,"wires":[["d91dcc10.9e313","f953155e.b46"]]},{"id":"9817a52.debfd58","type":"ibmiot in","z":"5d3f91dd.4afc2","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"LegoEV3","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT Mindstorm EV3 publisher","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":175,"y":60,"wires":[["29c3b301.38b6ec","c36f804d.dc43a"]]},{"id":"29c3b301.38b6ec","type":"debug","z":"5d3f91dd.4afc2","name":"","active":true,"console":"false","complete":"true","x":449,"y":60,"wires":[]},{"id":"c36f804d.dc43a","type":"function","z":"5d3f91dd.4afc2","name":"testFun","func":"data = msg.payload.d;\nif (data == 123) {\n    msg.payload = \"{ \\\"recievedData\\\": \"+ 5 + \" }\";\n    return msg;\n}","outputs":1,"noerr":0,"x":451.5,"y":217,"wires":[["7e32b58b.14010c"]]},{"id":"7e32b58b.14010c","type":"debug","z":"5d3f91dd.4afc2","name":"onSend","active":false,"console":"false","complete":"payload","x":706.5,"y":58,"wires":[]}]